<div data-require="split" style="height:100%;">
	<div class="split-row">
		<div class="split-column" draggable="true"></div>
	</div>
	<div class="split-row">
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
	</div><div class="split-row">
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
	</div>
</div>
