<div data-require="split" style="height:40%;">
	<div class="split-row">
		<div class="split-column" draggable="true"></div>
	</div>
	<div class="split-row">
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
		<div class="split-column">
			<div class="split-row">
				<div class="split-column" draggable="true"></div>
			</div>
			<div class="split-row">
				<div class="split-column" draggable="true"></div>
			</div>
		</div>
	</div>
	<div class="split-row">
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
	</div>
</div>
<div style="height: 10%"></div>
<div data-require="split" style="height:50%;">
	<div class="split-row">
		<div class="split-column" draggable="true"></div>
	</div>
	<div class="split-row">
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
	</div>
	<div class="split-row">
		<div class="split-column" draggable="true"></div>
		<div class="split-column" draggable="true"></div>
	</div>
</div>
